body{
    /* border: 1px solid red; */
    padding: 50px 100px;
    text-align: center;
  
    
}

h1,p{
    background-color: #0067B0;
    margin: 0.1px;
    padding: 12px;
    color:aliceblue;
    font-size: 28px;
    font-weight: bold;

}

#textbox{
    width: 99.3%;
    border-color: #0067B0;
    resize: none;
    font-size: 20px;
}


